<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="../public/images/loniaz.png" /> 

	<title> Loniaz Art & Design </title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="../css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="../css/app.css">
</head>

<body>
	<!-- Header -->
	<% if(locals.user != undefined) { %>
		<%- include('./partials/headerLogueado.ejs') %>
<% } else { %>
   <%- include('./partials/header.ejs') %>
<% } %>
	<!-- /Header -->

<!-- Novedades -->
<div class="container products-wrapper">
	<div class="row">
		<div class="col-12">
			<h2 class="products-title">Editar mi perfil</h2>
		</div>
		<!-- Show the "ultimos" products -->

		<form action="/profileEdit/" method="POST" class="registroform"> <!-- aca antes decia login.html -->
			<label class = "registroformlabel">EMAIL</label><input name="email" type="email" placeholder="<%=locals.user.email %>" class = "registroinput">			
			<label class = "registroformlabel">NOMBRE DE USUARIO</label><input name="username" type="text" placeholder="<%=locals.user.username %>" class = "registroinput">
			<label class = "registroformlabel">CONTRASEÑA</label><input name="contrasena" type="password" placeholder="CONTRASEÑA" class = "registroinput">
			<label class = "registroformlabel">FECHA DE NACIMIENTO</label><input name="fecha" type="date" placeholder="<%=locals.user.fecha %>" class = "registroinput">
			<label class = "registroformlabel">NUMERO DE DOCUMENTO</label><input name="dni" type="number" placeholder="<%=locals.user.dni %>" class = "registroinput"> 
			<label class="fotodeperfil">LINK DE FOTO DE PERFIL</label><input type="text" name="fotodeperfil" placeholder="FOTO DE PERFIL"> 
			<button type="submit" class = "registrobutton"> CONFIRMAR CAMBIOS </button>
		</form>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>