<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="../images/logo-mercado-liebre.jpg" />

	<title> Loniaz Art & Design </title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="./css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="./css/app.css">
</head>

<body>
	<!-- Header -->
	<% if(locals.user != undefined) { %>
		<%- include('./partials/headerLogueado.ejs') %>
<% } else { %>
   <%- include('./partials/header.ejs') %>
<% } %>
		<!-- /Header -->

		<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Resultados que coinciden con su búsqueda:</h2>
				</div>
				<!-- Show the "ultimos" products -->



				<section class="bloque">
					<% if (lista != undefined && lista.length > 0) { %>
					<%for (let i=0; i<lista.length; i++){ %>
						<div class="col-12 col-sm-6 col-lg-3">
							<section class = 'product-box'>
									<figure class="product-box_image">
										<img src="<%= lista[i].imagen %>" alt="<%= lista[i].nombre %>">
									</figure>
									<article class="product-box_data">
										<h2>
											<a href="/products/detalle/id/<%=lista[i].id%>">

											<%= lista[i].nombreproducto %>
											</a>
										</h2>
					
										<p>
											<%= lista[i].descripcionproducto %>
										</p>
										<h5>
											<a href ="/profile/<%=lista[i].usuario.username%>" >
											<%= lista[i].usuario.username %>
										</a>
										</h5>	
									</article>
								</a>
							</section>
						</div>
						
						<%} %>

						<% } else {%> 
					
							<p class= “error”> <%= errors.message %> </p>
						 <% } %>
			</div>
		</div>
		</section>

		

		<!-- footer -->
		<%- include('./partials/footer') %>
			<!-- /footer -->
</body>

</html>